body {
	background: url(wild_oliva.png);
	font-family: Ubuntu, Verdana, sans-serif;
}

.container {
	width: 900px;
	margin: auto auto;
}

.overlay {
	background: rgba(255, 255, 255, 0.97);
	width: 800px;
	padding: 10px 50px 10px 50px;
	border-radius: 5px 5px;
}

.container h1, h3, p, form {
	text-align: center;	
}

#first {
	float: left;
	float: left;
}

.yoda {
	text-align: center;
}

.yoda img{
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
		/*-webkit-transition: all 0.3s ease;
	  	-moz-transition: all 0.3s ease;
	  	-o-transition: all 0.3s ease;
	  	transition: all 0.3s ease;*/
  	width: 40%;
}

.yoda img:hover {
	width: 50%;
}

#two-cols {
	-webkit-column-count:2;
	-webkit-column-gap:20px;
}

.float {
	float:right;
}

.col1 {
	float: left;
	width: 48%;
	margin-right: 10px;
	text-align: justify;
}

.col2 {
	float: right;
	width: 48%;
	margin-left: 10px;
	text-align: justify;
}

.link:hover {
	background-color: #1F1F1F;
	padding: 5px;
	color: #64B7E6;
}